* {
  box-sizing: border-box;
}

button {
  &:hover {

  }
  img {

  }
}

.section1 {
  button {
    font-size: 20px;
  }
}

.text {
  font-size: 25px;
  color: red;
  margin-bottom: 25px;
}
.new-text {
  border: 1px solid pink;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: bisque;
  
}

.bg-red {
  background-color: red;
}

.events, .events2 {
  padding: 50px;
  
  * {    
      margin: 10px;
      border: 1px solid blue; 
  }
}
.div4 {
  background-color: burlywood;
}
.div5 {
  background-color: blueviolet;
}
.div6 {
  background-color: chartreuse;
}